@use "_variables";

.component-buttonDashboard {
  * {
    font-family: variables.$fontPoppins;
  }

  .button-comp-dash {
    margin-bottom: 1vw;
    position: absolute;
    top: 8.5vw;
    left: 0vw;
    color: #006998;
    padding-left: 10vw;
    font-size: 1.15vw;
    display: flex;
    align-items: center;

    img {
      width: 1.2vw;
      margin-right: 0.5vw;
    }
  }
}

@media only screen and (max-width: 992px) {
  .component-buttonDashboard {
    * {
      font-family: variables.$fontPoppins;
    }

    .button-comp-dash {
      margin-bottom: 1vw;
      position: absolute;
      top: 6vw;
      left: 0vw;
      padding-left: 5.5vw;
      font-size: 1.8vw;

      img {
        width: 1.7vw;
        margin-right: 0.5vw;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .component-buttonDashboard {
    * {
      font-family: variables.$fontPoppins;
    }

    .button-comp-dash {
      margin-bottom: 1vw;
      position: absolute;
      top: 11vw;
      left: 0vw;
      padding-left: 5.5vw;
      font-size: 1.9vw;

      img {
        width: 2vw;
        margin-right: 0.5vw;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .component-buttonDashboard {
    * {
      font-family: variables.$fontPoppins;
    }

    .button-comp-dash {
      margin-bottom: 1vw;
      position: absolute;
      top: 17vw;
      left: 0vw;
      padding-left: 5.5vw;
      font-size: 2.7vw;

      img {
        width: 2.8vw;
        margin-right: 0.5vw;
      }
    }
  }
}
