@font-face {
  font-family: "Mosk";
  src: local("Mosk"), url("../Fonts/Mosk/Mosk\ Normal\ 400.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: local("Mosk"), url("../Fonts/Mosk/Mosk\ Bold\ 700.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
}
