.container-fecha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;

  .texto-global {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    color: white;
  }

  .fecha-global {
    text-align: center;
    font-size: 3.5em;
    margin-top: 0.2em;
    font-weight: 500;
    color: white;
    background: linear-gradient(223deg, #80c342 0%, #058933 100%);
    padding: 0.6em 0.4em;
    width: 2.2em;
    border-radius: 0.2em;
  }

  .container-globales-fecha {
    width: 9em;
    height: 9em;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .container-fecha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;

    .texto-global {
      font-size: 1.4em;
      font-weight: 400;
      text-align: center;
      color: white;
    }

    .fecha-global {
      text-align: center;
      font-size: 3em;
      margin-top: 0.5em;
      font-weight: 700;
      color: white;
    }

    .container-globales-fecha {
      width: 9em;
      height: 9em;
      padding: 1em 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
